{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "parcerOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "prefer-const": "error",
        "arrow-parens": "error",
        "dot-location": [
            "error",
            "property"
        ],
        "no-unused-vars": "error",
        "comma-dangle": [
            "error",
            "never"
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "no-const-assign": "error",
        "no-duplicate-imports": "error",
    },
    "ignorePatterns": [
        "*.test.*",
        "*.d.*"
    ]
}